# JetBrains related
.idea/
advent-of-code-2021.iml

# VS Code related
.vscode/
.vs/

# Private user files
private/
cookies

# Mac files
.DS_Store
/out/

# Python
__pycache__/
venv/

# C/C++ executable files
*.exe